## Database settings ##
sqluser=
sqlpass=
dbip=127.0.0.1
dbport=3306
controllerdb=flygon
scannerdb=golbat
blisseydb=stats
kojidb=koji						# optional, needed when making use of koji stored fences

## Grafana datasource
datasource_stats=stats					# grafana datasource name for statsdb

## Koji projects (make use of koji fences instead of table geofences)
use_koji=false
project_controller=					# project name containing quest fences only
project_golbat=						# project name containing mon fences only

## Stats processing (when use_koji=false, make sure to add mon geofences to blissey table geofences. First and last coordinate of column coords must be the same.)
monareastats=true
questareastats=true
workerstats=true                                        # requires controller config worker_stats=true

## Table cleanup, remove anything older then x days
blissey_rpl5=30						# cleanup blissey tables for 5m data
blissey_rpl15=90					# cleanup blissey tables for 15m data
blissey_rpl60=180					# cleanup blissey tables for 60m data
blissey_rpl1440=365					# cleanup blissey tables for daily data
blissey_rpl10080=999999					# cleanup blissey tables for weekly data
worker_raw=1						# cleanup controller raw worker data
area_raw=1						# cleanup scanner raw area data

## Miscellaneous
spawn_delete_days=999999				# delete spawnpoints not seen for X days from db
golbat_backup=true                                      # daily backup golbat structure and tables spawnpoint/gym/stop
golbat_backup_days=7                                    # days to store golbat db backup
fortwatcher=false					# process fortwatcher stats to rpl 60/1440/10080
